@font-face {
  font-display: swap; 
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: url('./exo-2-v21-latin_latin-ext-regular.woff2') format('woff2'); 
}

@font-face {
  font-display: swap;
  font-family: 'Exo 2';
  font-style: italic;
  font-weight: 400;
  src: url('./exo-2-v21-latin_latin-ext-italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 700;
  src: url('./exo-2-v21-latin_latin-ext-700.woff2') format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;
